<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход — Забери меня с собой</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css" />
</head>
<body>
<div class="auth-card">
    <div class="auth-logo-block">
        <img src="/static/img/logo3-_1_.png" alt="Логотип" class="auth-logo-img">
    </div>
    <h2 class="auth-title">Вход</h2>
    <form method="post" class="auth-form">
        {% csrf_token %}
        <label for="username">Имя пользователя</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" required>
        <button type="submit" class="auth-btn">Войти</button>
    </form>
    <div class="auth-bottom-link">
        Нет аккаунта? <a href="/register/">Зарегистрироваться</a>
    </div>
</div>
</body>
</html> 